.body_title{
    padding: 50px 0;
}
.body_content{
    color: #ffffff;
}
.body_content:hover{
    color: #ffffff;
    text-decoration: none;
}
.card_img{
    transform: scale(1);
    overflow: hidden;
    transition: all 0.7s ease-in-out; 
}
.card_img:hover{
    transform: scale(1.2)
}
